# Django #
*.log
*.pot
*.pyc
__pycache__
db.sqlite3
media
secret_key.py
*migrations
pip-log.txt 
pip-delete-this-directory.txt 
venv/ 
venv.bak/ 
*vscode*
.vscode/* 
!.vscode/settings.json 
!.vscode/tasks.json 
!.vscode/launch.json 
!.vscode/extensions.json 
.history