<div id="route_detail_table">
  <table class="table table-striped">
    <thead>
      <tr>
        <th scope="col">Arrive time</th>
        <th scope="col">Dispatch time</th>
        <th scope="col">Station</th>
      </tr>
    </thead>
    <tbody>
    {% for detail in route_details %}
      <tr>
        <td>{{ detail.arrive_time|default_if_none:"" }}</td>        
        <td>{{ detail.dispatch_time|default_if_none:"" }}</td>        
        <td>{{ detail.related_station.title }}</td>               
      </tr>
    {% endfor %}
    </tbody>
  </table>
</div>